[submodule "test/Firely.Validation.Compilation.Tests/FhirTestCases"]
	path = test/Firely.Fhir.Validation.Compilation.Tests.Shared/FhirTestCases
	url = https://github.com/FirelyTeam/fhir-test-cases.git
